<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>ROK KVK DKP Data</title>
    <link rel="stylesheet" href="/static/css/dkp.css">
</head>

<body>
<div class="btn-row">

    <button class="back-button" onclick="if(history.length > 1){ history.back(); } else { location.href='/' }">
        返回 Back
    </button>

    <button class="back-button" onclick="location.href='/rok-match-data?kvk_map_id={{ data.map }}'">
        匹配数据 Match Data
    </button>
</div>
    <h2>贡献分数据 DKP Data</h2>
    <h2>Map: {{ data.map }}</h2>
    <h2>Start: {{ data.start }} — End: {{ data.end }}</h2>

    <h3>TOTAL RESULT</h3>

    <table class="sum-table">
        <tr>
            <th>阵营 CAMP</th>
            <th>总贡献分 Total DKP<br>{{dkp_calc_rule}}</th>
            <!-- <th>总击杀 Total KILL</th> -->
            <th>总T4击杀数 Total T4-KILLED<br>({{dkp_list['t4']}} point per kill)</th>
            <th>总T5击杀数 Total T5-KILLED<br>({{dkp_list['t5']}} point per kill)</th>
            <th>总T4阵亡数 Total T4-DEAD<br>({{dkp_list['t4_dead']}} point per death)</th>
            <th>总T5阵亡数 Total T5-DEAD<br>({{dkp_list['t5_dead']}} point per death)</th>
        </tr>

        {% for camp in data.camps %}
            {% set s = camp.sum %}
            <tr>
                <td>{{ camp.name }}</td>
                <td>{{ s['TOTAL-DKP'] }}</td>
                <!-- <td>{{ s['TOTAL-KILL'] }}</td> -->
                <td>{{ s['TOTAL-T4-KILLED'] }}</td>
                <td>{{ s['TOTAL-T5-KILLED'] }}</td>
                <td>{{ s['TOTAL-T4-DEAD'] }}</td>
                <td>{{ s['TOTAL-T5-DEAD'] }}</td>
            </tr>
        {% endfor %}
    </table>

    {% for camp in data.camps %}
        <h3>{{ camp.name }} {{ camp.kingdoms_names }}</h3>

        <table>
            <tr>
                <th>王国 KD</th>
                <th>贡献分 DKP<br>{{dkp_calc_rule}}</th>
                <!-- <th>击杀 KILL</th> -->
                <th>T4击杀数 T4-KILLED<br>({{dkp_list['t4']}} point per kill)</th>
                <th>T5击杀数 T5-KILLED<br>({{dkp_list['t5']}} point per kill)</th>
                <th>T4阵亡数 T4-DEAD<br>({{dkp_list['t4_dead']}} point per death)</th>
                <th>T5阵亡数 T5-DEAD<br>({{dkp_list['t5_dead']}} point per death)</th>
                <th>数据范围 PERIOD</th>
            </tr>

            {% for kd in camp.kingdoms %}
            <tr>
                <td class="kd" onclick="location.href='/kingdom-player?id={{ kd['KD'] }}'">
                    {{ kd['KD'] }}
                </td>
                <td>{{ kd['DKP'] }}</td>
                <!-- <td>{{ kd['KILL'] }}</td> -->
                <td>{{ kd['T4-KILLED'] }}</td>
                <td>{{ kd['T5-KILLED'] }}</td>
                <td>{{ kd['T4-DEAD'] }}</td>
                <td>{{ kd['T5-DEAD'] }}</td>
                <td>{{ kd['PERIOD'] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}

</body>
</html>
