<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>KD1545 Data Center</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>

    <div class="nav">
        <button data-target="page1" class="{{ mode_search }}">王国/玩家查询</button>
        <button data-target="page2" class="{{ mode_kvk }}">KVK列表</button>
        <button data-target="page3" class="{{ mode_match }}">王国匹配数据列表</button>
    </div>
    <div id="page1" class="page {% if mode_search == 'active' %} show {% endif %}">
        <h1>王国 / 玩家信息查询 · Kingdom / Player Search</h1>

        <div class="search-bar">
            <form action="/kingdom" method="POST">
                <input type="text" name="id" placeholder="Kingdom ID or Player ID">
                <button type="submit">查询 Search</button>
            </form>        
        </div>
    </div>
    <div id="page2" class="page  {% if mode_kvk == 'active' %} show {% endif %}">
        <h1>KVK 列表 · KVK List</h1>
        <div class="search-bar"><input type="text" id="searchKvkInput" placeholder="kingdom id(split by spaces)..."></div>
        <details id="vcr-detail" open>
            <summary>VCR KVK</summary>
            <div id="vcr-list" class="kvk-list"><h2>Data Loading...</h2>
            </div>
        </details>
        <details id="on-going-detail" open>
            <summary>On Going KVK</summary>
            <div id="on-going-list" class="kvk-list"><h2>Data Loading...</h2>
            </div>
        </details>
        <details id="finished-detail" open>
            <summary>Finished KVK</summary>
            <div id="finished-list" class="kvk-list"><h2>Data Loading...</h2>
            </div>
        </details>
    </div>
    <div id="page3" class="page {% if mode_match == 'active' %} show {% endif %}">
        <h1>王国匹配数据列表 · KVK Match Data List</h1>
        <div class="search-bar"><input type="text" id="searchInput" placeholder="kingdom id(split by spaces)..."></div>
        <div class="pagination">
            <button id="firstBtn">|◀</button>
            <button id="prevBtn">◀</button>
            <span id="pageInfo"> - / - </span>
            <button id="nextBtn">▶</button>
            <button id="lastBtn">▶|</button>
            </div>
        <div id="match_data_table" style="max-height: 75vh;overflow-y: auto; overflow-x: hidden;margin-top: 10px;">
            <h2>Data Loading...</h2>
        </div>
    </div>
    <form id="kdForm" action="/kingdom" method="POST" style="display:none;">
        <input type="hidden" name="id" id="kdInput">
    </form>
    <script src="/static/js/home.js"></script>
</body>

</html>