<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>KD1545 Data Center</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>

    <div class="nav">
        <button data-target="page1" class="{{ mode_search }}">王国/玩家查询</button>
        <button data-target="page2" class="{{ mode_kvk }}">KVK列表</button>
        <button data-target="page3" class="{{ mode_match }}">王国匹配数据列表</button>
    </div>
    <div id="page1" class="page {% if mode_search == 'active' %} show {% endif %}">
        <h1>王国 / 玩家信息查询 · Kingdom / Player Search</h1>

        <div class="search-bar">
            <input type="text" id="idInput" placeholder="Kingdom ID or Player ID">
            <button onclick="go()">查询 Search</button>
        </div>
    </div>
    <div id="page2" class="page  {% if mode_kvk == 'active' %} show {% endif %}">
        <h1>KVK 列表 · KVK List</h1>

        {% for key, item in data.items() %}

        {% set status_label = "进行中 · Ongoing" %}
        {% if item.start > current_date %}
        {% set status_label = "未开始 · Not Started" %}
        {% elif item.end < current_date %} {% set status_label="已结束 · Finished" %} {% endif %} <div
            class="item {{ item.kvk_type }}">
            <div class="{{ 'item-card-vcr' if item.vcr is true else 'item-card' }}">

                <div class="item-header">
                    <div class="item-title">{{ key }} — {{ status_label }}</div>
                </div>

                <div class="item-meta">
                    类型 Type: {{ item.kvk_type_cn or item.kvk_type or 'N/A' }} |
                    时间 Time: {{ item.start }} ~ {{ item.end }}
                </div>

                <div class="camps">
                    {% for camp_name, kds in item.camps.items() %}
                    <div class="camp-line">{{ camp_name }}:</div>
                    {% for kd in kds %}
                    <div class="kd-item kd{{ kd }}">
                        <span onclick="location.href='/kingdom-player?id={{ kd }}'">
                            {{ kd }}
                        </span>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>

                <br>

                <div>
                    <a class="button-link" href="{{ match_base_url }}{{ key }}">匹配数据 Match Data</a>
                    <a class="button-link" href="{{ dkp_base_url }}{{ key }}">DKP 数据 DKP Data</a>
                    <a class="button-link" href="{{ kvk_player_base_url }}{{ key }}">玩家数据 Player Data</a>
                </div>

            </div>
    </div>

    {% endfor %}
    </div>
    <div id="page3" class="page {% if mode_match == 'active' %} show {% endif %}">
        <h1>王国匹配数据列表 · KVK Match Data List</h1>
<div class="pagination">
    <button id="firstBtn">|◀</button>
    <button id="prevBtn">◀</button>
    <span id="pageInfo"></span>
    <button id="nextBtn">▶</button>
    <button id="lastBtn">▶|</button>
    <input type="text" id="searchInput" placeholder="kingdom id(split by spaces)..." style="padding:6px;width:200px;margin-left: 20px;">
</div>
        <div id="match_data_table">
        </div>
    </div>

    <script src="/static/js/home.js"></script>
</body>

</html>