<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ROK Match Data</title>
    <link rel="stylesheet" href="/static/css/match.css">
</head>

<body>
    <div class="btn-row">
        <button class="back-button" onclick="if(history.length > 1){ history.back(); } else { location.href='/' }">
            返回 Back
        </button>
        <button class="back-button" onclick="location.href='/rok-kvk-dkp-data?kvk_map_id={{ data.map }}'">
            贡献数据 DKP Data
        </button>
    </div>
    <h2>匹配数据 ROK Match Data — Map: {{ data.map }}</h2>

    <h3>TOTAL MATCH DATA</h3>
    <table class="sum-table">
        <tr>
            <th>阵营 CAMP</th>
            <th>各击杀评级人数 NUMBER OF KP GRADE
                <div class="tooltip"> ⓘ
                    <div class="tip">
                        <img src="/static/media/rank/level_s.png" class="stat-icon">--> 每赛季10亿击杀以上 above 1B kill points
                        per kvk<br>
                        <img src="/static/media/rank/level_a.png" class="stat-icon">--> 每赛季6亿击杀以上 above 600M kill points
                        per kvk<br>
                        <img src="/static/media/rank/level_b.png" class="stat-icon">--> 每赛季4亿击杀以上 above 400M kill points
                        per kvk<br>
                        <img src="/static/media/rank/level_c.png" class="stat-icon">--> 每赛季1亿击杀以上 above 100M kill points
                        per kvk<br>
                        <img src="/static/media/rank/level_d.png" class="stat-icon">--> 每赛季1亿击杀以下 below 100M kill points
                        per kvk
                    </div>
                </div>
            </th>
            <th>总战斗评分 TOTAL FIGHTING POINTS</th>
            <th>总匹配积分 TOTAL KVK SCORE</th>
            <th>总战力 TOTAL POWER</th>
            <th>总阵亡 TOTAL DEAD</th>
            <th>总击杀 TOTAL KILL</th>
        </tr>

        {% for camp in data.camps %}
        {% set s = camp.sum %}
        <tr>
            <td>{{ camp.name }}</td>
            <td>
                <img src="/static/media/rank/level_s.png" class="stat-icon"></div>={{s['TOTAL-FIGHTER-BUKETS']['s']}}
                <img src="/static/media/rank/level_a.png" class="stat-icon">={{s['TOTAL-FIGHTER-BUKETS']['a']}}
                <img src="/static/media/rank/level_b.png" class="stat-icon">={{s['TOTAL-FIGHTER-BUKETS']['b']}}
                <img src="/static/media/rank/level_c.png" class="stat-icon">={{s['TOTAL-FIGHTER-BUKETS']['c']}}
                <img src="/static/media/rank/level_d.png" class="stat-icon">={{s['TOTAL-FIGHTER-BUKETS']['d']}}
            </td>
            <td>{{ s['TOTAL-FIGHTER-POINTS'] }}</td>
            <td>{{ s['TOTAL-KVK-SCORE'] }}</td>
            <td>{{ s['TOTAL-POWER'] }}</td>
            <td>{{ s['TOTAL-DEAD'] }}</td>
            <td>{{ s['TOTAL-KILL'] }}</td>
        </tr>
        {% endfor %}
    </table>


    {% for camp in data.camps %}

    <h3>{{ camp.name }} {{ camp.kingdoms_names }}</h3>

    <table>
        <tr>
            <th>王国<br>KINGDOM</th>
            <th>各击杀评级人数 NUMBER OF KP GRADE</th>
            <th>总战斗评分 FIGHTING POINTS</th>
            <th>战斗综合评级(平均)<br>FIGHT RANK</th>
            <th>活跃综合评级(平均)<br>ACTIVE RANK</th>
            <th>匹配积分<br>KVK SCORE</th>
            <th>战力<br>POWER</th>
            <th>阵亡<br>DEAD</th>
            <th>击杀<br>KILL</th>
            <th>历届KVK评价<br>KVK EVALUATIONS</th>
        </tr>

        {% for kd in camp.kingdoms %}
        <tr>
            <td class="kd" onclick="location.href='/kingdom-player?id={{ kd['KD'] }}'">
                {{ kd['KD'] }}
            </td>
            <td>
                <img src="/static/media/rank/level_s.png" class="stat-icon">={{kd['FIHGHTER-BUKETS']['s']}}
                <img src="/static/media/rank/level_a.png" class="stat-icon">={{kd['FIHGHTER-BUKETS']['a']}}
                <img src="/static/media/rank/level_b.png" class="stat-icon">={{kd['FIHGHTER-BUKETS']['b']}}
                <img src="/static/media/rank/level_c.png" class="stat-icon">={{kd['FIHGHTER-BUKETS']['c']}}
                <img src="/static/media/rank/level_d.png" class="stat-icon">={{kd['FIHGHTER-BUKETS']['d']}}
            </td>
            <td>{{ kd['FIGHTER-POINTS'] }}</td>
            <td>
                <img src="/static/media/rank/level_{{ kd['FIGHTING-RANK'] }}.png" class="stat-icon"><br>
            </td>
            <td><img src="/static/media/rank/level_{{ kd['ACTIVATION-RANK'] }}.png" class="stat-icon"></td>
            <td>{{ kd['KVK-SCORE'] }}</td>
            <td>{{ kd['POWER'] }}</td>
            <td>{{ kd['DEAD'] }}</td>
            <td>{{ kd['KILL'] }}</td>
            <td>{{ kd['KVK-HISTORY'] | safe }}</td>
        </tr>
        {% endfor %}
    </table>

    {% endfor %}

</body>

</html>