body {
    font-family: Arial;
    background-color: #000;
    color: #e2e2e2;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #fff;
}

h3 {
    margin-top: 30px;
    color: #f0f0f0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    background-color: #111;
}

th,
td {
    border: 1px solid #444;
    padding: 8px;
    text-align: center;
    color: #fff;
}

th {
    background: #333;
    color: #fff;
}

tr:nth-child(even) {
    background: #1a1a1a;
}

tr:nth-child(odd) {
    background: #111;
}

.sum-table {
    margin-top: 5px;
}

.back-button {
    padding: 10px 18px;
    background: #2a2a2a;
    border: 1px solid #444;
    border-radius: 6px;
    color: #e0e0e0;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.stat-icon {
    width: 28px;
    height: 28px;
    margin-top: 4px;
    margin-bottom: 2px;
    opacity: 0.9;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    /* 左右分布 */
    margin-bottom: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tip {
    visibility: hidden;
    position: fixed;
    pointer-events: none;
    background: #292929;
    color: #c2c2c2;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    white-space: nowrap;
    z-index: 9999;
    opacity: 0;
    transition: opacity .15s ease;
    text-align: left;
}

.tooltip:hover .tip {
    visibility: visible;
    opacity: 1;
}

img {
    vertical-align: middle;
}

.stat-icon-small {
    width: 22px;
    height: 22px;
    margin-top: 2px;
    margin-bottom: 2px;
    opacity: 0.9;
}

td.kd {
    cursor: pointer;
}

td.kd:hover {
    background: #4d535a;
}